<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <title>PROFILE</title>

</head>
<body>
<div layout:fragment="content">

    <style>
        video {
            width: 400px;
            height: 400px;
            object-fit: cover;
            border-radius: 50%;
        }
    </style>

   <h2>Capture Photo From Camera using Javascript</h2>
   <button id="start-camera">Start Camera</button>
   <video id="video" width="400" height="400" autoplay></video>
   <button id="click-photo">Click Photo</button>
   <canvas id="canvas"  width="400" height="400" ></canvas>
    <a id="download-link" ></a>


   <script>
       let camera_button = document.querySelector("#start-camera");
       let video = document.querySelector("#video");
       let click_button = document.querySelector("#click-photo");
       let canvas = document.querySelector("#canvas");

       camera_button.addEventListener('click', async function() {
           let stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: false });
           video.srcObject = stream;
       });

       click_button.addEventListener('click', function() {
           canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
           let image_data_url = canvas.toDataURL('image/jpeg');
           // data url of the image
           console.log(image_data_url);

            /*// save to URL
           canvas.toBlob(
               blob => {
                   const anchor = document.getElementById('download-link');
                   anchor.href = URL.createObjectURL(blob);
               },
               'image/jpeg',
               0.9,
           );*/
           canvas.toBlob(
               blob => {
                   const anchor = document.createElement('a');
                   anchor.download = 'Photo_'+new Date().toISOString().slice(0, 22)+'.png'; // optional, but you can give the file a name
                   anchor.href = URL.createObjectURL(blob);
                   anchor.click(); // ✨ magic!
                   URL.revokeObjectURL(anchor.href); // remove it from memory and save on memory! 😎

               }, 'image/png', 1

           );

       });
   </script>



</div>
</body>
</html>